/* CreateCourseModal.module.css */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 90vw;
    max-width: 600px;
    max-height: 90vh; /* Limit modal height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Black background with 75% opacity */
    z-index: 999; /* Ensure the overlay is above everything else */
    display: flex;
    justify-content: center;
    align-items: center;
}
